<% layout ('layout/boilerplate') %>
<div class="row">
  <div class="col-6 offset-3">
    <div class="alert alert-danger" role="alert">
      <h3 class="alert-heading"><%= err.message %></h3>
      <br />
      <h5>Possible reasons:</h5>
      <br />
      <p>1. HTML commands included</p>

      <p>2. Dates entered incorrectly</p>

      <p>3. Field was left out</p>
    </div>
  </div>
</div>
