<% layout('layout/boilerplate') %>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="card shadow">
            <div class="card-body">
                
                <h5 class="card-title">Register (DEV purpose only, otherwise fixed on one account)</h5>
                <form action="/register" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control mb-3" id="username" name="username" required autofocus>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <label for="email" class="form-label">Email</label>
                        <input type="text" class="form-control mb-3" id="email" name="email" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control mb-3" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <button class="btn admin-btn btn-block">Register</button>
                    </div>
                   
            </div>
            </form>
           
        </div>
    </div>
</div>